body,html{
    padding: 0px;
    margin: 0px;
}


.conteudo{
    display:flex;
    flex-direction: row;
    background-color: silver;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    
}


.card{
    
    width: 200px;
    height: 200px;
    background-color: yellow;
    
}

.centralizado 
{


    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;

}
